body {
    background-image: url(./fondo.jpg);
}

h1 {
    font-size: 50px;
    color: white;
}

form {
    width: 100%;
    max-width: 800px;
    text-align: center;
    border: solid 3px #1f7999;
    padding-bottom: 20px;
    margin: auto;
    margin-top: 2%;
    background: #fafafa;
    display: flex;
    flex-wrap: wrap;
    padding-left: 3%;
}

input[type=textfield] {
    width: 85%;
    padding: 16px 32px;
    font-size: 16px;
    margin: 3% 0;
    border: 1px solid silver;
    border-radius: 40px;
    text-align: left;
    color: rgb(82, 82, 82);
    background: #ccc;
}

input {
    background-color: #1f7999;
    border: #73b3ca 4px solid;
    color: white;
    font-weight: bolder;
    padding: 16px 32px;
    font-size: 16px;
    width: 22%;
    margin: 4px 2px;
    border-radius: 20px;
    margin-left: 1%;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
    background-color: #73b3ca;
    border: #1f7999 4px solid;
}

#diaSemana {
    margin: auto;
    margin-top: 3%;
    width: 22%;
    padding-left: 3.5%;
}